@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');

html, body {
	font-family: 'Allerta Stencil', sans-serif;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

main {
	overflow-x: hidden; 
}

ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: rgb(210,180,60); /* gold */
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

/* remove the ugly blue outline */
*:focus {
	outline: 0 !important;
}

/* 2 columns */
@media only screen and (max-width: 1000px){
    .grid-sizer, .grid-item{
    	width: 46% !important;
    }

    .insta-img img {
    	width: 50% !important;
    }
}

/* 1 column */
@media only screen and (max-width: 600px){
    .grid-sizer, .grid-item {
    	width: 94% !important;
    }

    .insta-img img {
    	width: 100% !important;
    }
}

/**
* Navigation Bar
**/

.navi-bar {
	display: table;
	position: fixed;
	width: 100%;
	min-width: 500px;
	top: 0;
	left: 0;
	z-index: 1000;
	height: 65px;
	background-color: rgb(10,10,10);
	opacity: 0.9;
}

.page-title {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	font-size: 35px;
}

.page-title a {
	margin-left: 5%;
}

.dropdown {
    display: table-cell;
	vertical-align: middle;
}

/*********** Menu Dropdown **********/

#dropdown-button {
    background-color: rgb(10,10,10);
    color: rgb(210,180,60); /* gold */
    font-size: 30px;
    border: none;
    cursor: pointer;
    float: right;
    margin-right: 5%;
    height: 100%;
}

/*********** Filter Search Dropdown **********/

form {
	height: 100%;
	float: right;
}

.filter-search {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 20px;
    height: 100%;
    border-radius: 0;
    margin-right: 15px;
    background-color: rgb(10,10,10);
    border: none;
    color: rgb(210,180,60);
    cursor: pointer;
    text-align-last:right;
}

/**
* Footer
**/

.footer {
	display: block;
	height: 150px;
	color: rgb(254,254,254);
	background-color: black;
	text-align: center;
}

.footer div {
	padding-top: 100px;
}

.copyright {
	color: rgb(210,180,60);
}

/**
* Dropdown menu screen
**/

.dropdown-menu {
	background-color: rgb(254,254,254); /* grey */
	opacity: 0.9;
	position: fixed;
	display: table;
	height: 100%;
	width: 100%;
	cursor: pointer;
	z-index: 999; /* behind the navi bar */
	display: none;
}

.dropdown-menu div {
	margin-top: 15%;
}

.dropdown-menu div a {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	float: left;
	top: 500px;
	font-size: 30px;
	padding: 10px;
}

.dropdown-menu div a:hover {
	text-decoration: underline;
}

/**
* Slideshow view
* Reference: https://www.w3schools.com/howto/howto_js_slideshow.asp
**/

.slide-img {
	display: block;
    margin: auto;
	height: 100vh;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
	position: relative;
	margin: auto;
	background-color: black;
}

.slide {
    display: none;
}

/* Caption text and scroll arrow */
.slide-title {
	color: rgb(210,180,60); /* gold */
	font-size: 15px;
	padding: 8px 12px;
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 2%;
}

.scroll-arrow {
	cursor: pointer;
	color: rgb(210,180,60); /* gold */
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 10%;
	font-size: 75px;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.scroll-target {
	bottom: 65px;
	position: absolute;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/**
* Gallery View 
* Margins = | 3 |   30   | 2 |   30   | 2 |   30   | 3 |
**/

.gallery {
	width: 100%;
	margin-left: 3%;
}

.grid-sizer, .grid-item {
	width: 30%;
	cursor: pointer;
}

.gutter-sizer {
	width: 2%;
}

.grid-item {
	margin-bottom: 2%;
	float: left;
}

.grid-item img {
	display: block;
	width: 100%;
	/*	border-radius: 5px;*/
}

.img-title {
	text-align: center;
	color: rgb(210,180,60); /* gold */
}

.img-series {
	text-align: center;
	opacity: 0.5;
	font-size: 12px;
}

.grid-item img:hover {
	background-color: rgb(240,240,240); /* grey */
	opacity: 0.9;
}

.grid-item--large {
  width: 60%;
}
/*********** Section Title **********/

.section-title h1 {
	font-size: 30px;
	text-align: center;
	color: rgb(210,180,60); /* gold */
	vertical-align: middle;
	margin-top: 90px;
	width: 100%;
	margin-left: -3%;
}

/*********** Instagram Gallery **********/

.insta-img {
	width: 100%;
}

.insta-img img {
	object-fit: cover;
	float: left;
	width: 33.33%;
}

.insta-img img:hover {
	background-color: rgb(240,240,240); /* grey */
	opacity: 0.9;
}

.insta-title h1 {
	font-size: 30px;
	text-align: center;
	color: rgb(210,180,60); /* gold */
	vertical-align: middle;
	margin-top: 90px;
	width: 100%;
}
/*********** Featured Gallery **********/

.featured-gallery {
	width: 100%;
	margin-left: 3%;
}

.featured h1 {
	font-size: 30px;
	text-align: center;
	color: rgb(210,180,60); /* gold */
	vertical-align: middle;
}

/**
* About Page
**/

.profile-text {
	width: 100%;
	text-align: center; 
	margin-bottom: 3%; 
}