<!DOCTYPE html>
<html>
<head>
	<title>Tianyi Liu | Photography</title>
<!-- Jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- Packery & Imageloaded -->
	<script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.js"></script>
	<script src="https://unpkg.com/packery@2/dist/packery.pkgd.js"></script>
<!-- Angular -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
<!-- Static Files -->
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<script type="text/javascript" src="/static/js/app.js"></script>
</head>
<body>
<!-- Navigation Bar -->
	<div class="navi-bar fade">
		<div class="page-title"><a href="/"> TIANYI LIU | PHOTOGRAPHY </a></div>
		<div class="dropdown">
			<button id="dropdown-button"> ☰ </button>
			<!-- Filter Sort Dropdown -->	
			<form method="POST" >
			    {% csrf_token %}
			    <select class="filter-search" name="tag" style="display: none"> 
			        <option value="-1"> ALL </option>
			        {% for s in series %}
			        <option value="{{s}}" {% if preselected == s %} selected {% endif %} > {{s}} </option>
			        {% endfor %}
			    </select>
			</form>
		</div>
	</div>
<!-- Dropdown Menu -->
	<div class="dropdown-menu">
		<div>
			<a href="/"> MAIN </a>
			<a href="/about"> ABOUT </a>
			<a href="/gallery"> GALLERY </a>
			<a href="/instagram"> INSTAGRAM </a>
		</div>
	</div>
<!-- Content -->
	<main>
		{% block content %}
		{% endblock %}
	</main>
<!-- Footer -->
	<section class="footer">
		<div><a href="https://www.facebook.com/tianyi.liu.92798"> Facebook </a> | 
		<a href="https://www.instagram.com/tenichiliu/?hl=en"> Instagram </a> | 
		<span class="copyright"> © Copyright 2017 Tianyi Liu </span></div>
	</section>
<body>
<html>