{% extends 'html/base.html' %}

{% block content %}
<section class="gallery">
    <div class="section-title"><h1> GALLERY </h1></div>
    <ul class="grid">
       <div class="grid-sizer"></div>
       <div class="gutter-sizer"></div>
    {% for photo in photos %}
        <li class="grid-item">
            <img src="/uploads/{{photo.image}}">
            <div class="img-title"> {{photo.title}} </div>
            <div class="img-series"> {{photo.series}} </div>
        </li>
    {% endfor %}
</section>
{% endblock %}