{% extends 'html/base.html' %}

{% block content %}
<section class="slideshow">
	<div class="slideshow-container">
    	{% for photo in photos %}
		<div class="slide fade">
	    	<img class="slide-img" src="/uploads/{{photo.image}}"/>
	    	<div class="scroll-arrow"> ⌃ </div>
	    	<div class="slide-title">{{photo.title}}<br>{{forloop.counter}} / {{photos|length}}</div>
		</div>
		{% endfor %}
		<div class="scroll-target"></div>
	</div>
</section>
<section class="recent">
	<h1> Recent </h1>
	<div class="recent-gallery">
	{% if photos %}
        <ul class="grid">
    	{% for photo in photos %}
            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
        	<li class="grid-item">
        		<a href="/uploads/{{photo.image}}"><img src="/uploads/{{photo.image}}"></a>
        		<div class="img-title">{{photo.title}}</div>
        	</li>
    	{% endfor %}
    	</ul>
	{% else %}
    	<h3> No photos available. </h3>
	{% endif %}
	</div>
</section>
{% endblock %}