{% extends 'html/base.html' %}

{% block content %}
<section class="slideshow">
	<div class="slideshow-container">
    	{% for photo in photos %}
    	{% if photo.featured %}
			<div class="slide fade">
		    	<img class="slide-img" src="/uploads/{{photo.image}}"/>
		    	<div class="scroll-arrow"> ⌃ </div>
		    	<div class="slide-title"> {{photo.title}} <!-- <br> {{forloop.counter}} / {{photos|length}} --> </div> 
			</div>
	    {% endif %}
		{% endfor %}
		<div class="scroll-target"></div>
	</div>
</section>
<section class="featured">
	<h1> Featured </h1>
	<div class="featured-gallery">
        <ul class="grid">
    	{% for photo in photos %}
    		{% if photo.featured %}
	            <div class="grid-sizer"></div>
	            <div class="gutter-sizer"></div>
	        	<li class="grid-item">
	        		<a href="/uploads/{{photo.image}}"><img src="/uploads/{{photo.image}}"></a>
	        		<div class="img-title">{{photo.title}}</div>
	        		<div class="img-series">{{photo.series}}</div>
	        	</li>
	        {% endif %}
    	{% endfor %}
    	</ul>
	</div>
</section>
{% endblock %}