@import url('https://fonts.googleapis.com/css?family=Lato:100');

/********** Overall **********/

body {
	font-family: 'Lato', sans-serif;
}

ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/********** Navigation Bar **********/

.header {
	display: table;
	position: fixed;
	width: 100%;
	min-width: 500px;
	height: 100px;
	top: 0;
	left: 0;
	z-index: 1000;
}

#name {
	display: table-cell;
	background: #f4f4f4;
	width: 50%;
	vertical-align: middle;
	font-size: 35px;
}

a {
	text-decoration: none;
	color:	#000000;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#name a {
	margin: 0 50px 0 50px; /* top, right bottom left */
}

#main-nav {
	display: table-cell;
	background: #f4f4f4;
	width: 50%;
	vertical-align: middle;
}

#main-nav li {
	float: right;
    margin: 0 50px 0 0; /* top, right bottom left */
}

/********** Gallery **********/

.gallery {
	width: 100%;
	margin: 145px 0 20px 135px; /* top, right bottom left */
}

.display {
	float: left;
	width: 23%;
	margin: 0 0 25px 45px; /* top, right bottom left */
}

img {
	width: 100%;
	border-radius: 5px;
	cursor: pointer;
}

img+div {
	text-align: center;
}

img:hover {
	opacity: 0.5;
	background-color: #f4f4f4;
}

/********** Profile **********/

.profile {
	width: 100%;
	margin: 145px 0 20px 135px; /* top, right bottom left */
}

.profile-pic {
	float: left;
	width: 200px;
	border-radius: 5px;
	margin: 0 50px 25px 45px; /* top, right bottom left */
}

.profile-text {
	width: 75%;
	margin-left: 50px;
	text-align: left; 
}

/********** Responsive **********/

@media only screen and (max-width: 1100px){
    .display {
        float: left;
        width: 31%;
    }
}

@media only screen and (max-width: 750px){
    .display {
        width: 54%;
        margin: 20px 30px 20px 30px; /* top, right bottom left */
    }
}

/**
* Slideshow
* Source: https://www.w3schools.com/howto/howto_js_slideshow.asp
**/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  top: 100px;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}